<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h1>Routing Examples!</h1>
            <hr>
             <!-- 
            without exact:true it will be added to all routes as they all start with / 
            <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            -->
            <a [routerLink]="['']">Home</a> |
            <a [routerLink]="['aboutus']">About Us</a> |
            <a [routerLink]="['params', 'route', id.value]">Route Param</a> |
            <a [routerLink]="['params', 'query']" [queryParams]="{id: id.value}">Query Param</a> |
            <a [routerLink]="['params', 'fragment']" [fragment]="id.value">Fragment</a> |
            <a [routerLink]="['params', 'preserve']" [preserveQueryParams]="true" [preserveFragment]="true">Preserved All</a> |
            <input type="text" #id (input)="0">
            <a [routerLink]="['parentchild', 'parent']">Parent</a> |
            <a [routerLink]="['parentchild', 'parent', 'child']">Parent-Child</a> |
            <a [routerLink]="['guards']">Guards</a>
            <hr>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
